
body{
    background-color: #726d6d;
    margin: 0;
    padding:0%;
    font-family: "Rubik",sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

/*Encabezado*/
header{
    display: inline-block; /*flex hace que los elementos dentro se muestren de manera vertical*/
    justify-content: space-between;
    background-color: #cceaf4;
    align-items: center;
    padding: 10px;
    width: 100%;
    align-content: center;
}

.image-logo{
    display: flex;
    align-items: center;
}

.image-logo img{
    height: 200px;
    width: auto;
    margin: auto;
}

#page-title{
    padding: auto;
    margin:auto;
    font-weight: 700;
    font-family: "Rubik";
    color: #1b18dd;
    text-align: center;
}

#subtitle{
    font-size:medium;
    color: #d62246;
    margin: auto;
    text-align: center;
}

/*Navbar*/
nav{
    background-color: #232323;
    margin: 0;
    padding: 10px;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav a{
    margin: 20px;
    text-decoration: none;
    color: #EFEFEF;
    font-weight: 700;
}
/*HOME PAGE*/
/*Barra iconos Equipos*/
.barra-equipos{
    margin: 5px;
    padding: 2px;
}

.iconos-equipos{
    padding: 2px;
    align-items: center;
}

.iconos-equipos a{
    padding: 10px;
}

.iconos-equipos a img{
    /*Tamaño imagenes*/
    height: 50px;
    width: 50px;
}

/*Seccion Destacadas*/
.destacados{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    width: 55%;
    height: auto;
    justify-content: center;
    margin:30px auto;
}

.noticia-grande{
    grid-column: 1 ;
    padding: 5px;
    align-content: center;
    background-color: rgb(27, 26, 26);
}

.noticia-grande a{
    text-decoration: none;
    color: white;
}

.noticias-pequenas{
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.noticia-pequena{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.centrado{
    position: absolute;
    top: 75%;
    color: white;
    background-color: black;
    padding:0;
    margin:0;
    opacity: 0.75;
    width: 100%;
    height: 59px;
}

.centrado a{
    text-decoration: none;
    color: white;
}

.noticia-pequena img{
    height: 100%;
    width: 100%;
}

.noticias-home{
    border: black 3px solid;
    width: 55%;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-content: center;
}

.cards{
    margin: 5px;
    padding: 10px;
    width: 90%;
    height: auto;
    border: solid black 1px;
    border-radius: 5px;
}


/*Pagina de Fixture */
/*Creo la grilla principal de 3 secciones*/
.container-fixture{
    /*Las tres secciones de la pagina se direccionan en columna*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background-color:#EFEFEF;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-justify: center;
    height: 100%;
    width: 100%;
}

#sections-fixture{ /*formato a cada section, todas son iguales en cuanto a color y fondo por eso uso un id*/
    height: auto;
    width: 100%;
    padding: auto;
    text-align: center;
    margin: 10px;
}

/*Seccion de Grupos*/
.grupos-grid{
    display: grid; /*Disposicion de grilla*/
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(425px,1fr));
}

/*@media(max-width:1120px){
    .grupos-grid{
        grid-template-columns: repeat(1,1fr);
    }
}*/

.item-group{
    margin: auto;
    text-align: center;
}

#table-groups{
    border: solid 4px black;
    border-radius: 10px;
}

table{
    color: white;
    background-color: #ff3b3f;
}

thead{
    background-color: #521314;
}

th{
    padding: 15px;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: center;
}

tbody{
    padding: 15px;
    border-bottom: solid 1px black;
}

td{
    padding: 15px;
    font-size:0.75em;
    font-weight: 200;
    text-align: center;
}

.team{
    background-color: #851f21;
    font-weight: 400;
}

/*Seccion Resultados*/

.resultados{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 5px solid black;
}

/*Div de cada fecha*/

.cards-wrapper{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-items: center;
}

.card{
    margin: 0 .5em;
    width: calc(100%/5);
    margin-left: 153px;
    border-radius: 10px;
    border: 10px;
    box-shadow: 2px 6px 8px rgb(22, 22, 26 ,0.18);
}


iframe{
    max-width: 75%;
    max-height: 75%;
    margin: auto;
}

.carousel-inner{
    padding: 1em;
}

.carousel-control-prev{
    background-color: #726d6d;
    border-radius: 50%;
    transform: translateX(-30%);
}

.carousel-control-next{
    background-color: #726d6d;
    border-radius: 50%;
    margin: 0;
    transform: translateX(5%); 
}

/*Fase Final*/

.cards-wrapper-sf{
    display: flex;
    margin: auto;
    align-items: center;
    justify-items: center;
    padding: auto;
    align-content: center;
    justify-content: center;
}

.cards-wrapper-final{
    display: flex;
    margin: auto;
    align-items: center;
    justify-items: center;
    padding: auto;
    align-content: center;
    justify-content: center;
}

.fase-final{
    justify-content: center;
    text-align: center;
    justify-items: center;
    border-top: 5px solid black;
}

.carousel carousel-dark{
    justify-content: center;
    text-align: center;
}

.titulos{
    padding-left: 65px;
    padding-top: 20px;
    margin-top: 60px;
    margin-left: 65px;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.carousel-inner{
    border-top: solid black 3px;
}

.clasificados{
    font-style: bold;
}

#campeon{
    color: goldenrod;
}
#subcampeon{
    color: silver;
}
#tercero{
    color: rgb(153, 91, 50);
}

/*Noticias*/

.principal{
    border-bottom: solid 2px black;
    margin: 0 100px;
    padding: auto;
    display: flex;
}

.noticia-principal{
    margin: auto;
    display: flexbox;
    text-align: center;
    padding: 20px;
}

.noticia-principal h2{
    font-weight: 800;
}
.noticia-principal h2, h5{
    padding-bottom: 20px;
}
.pie-de-pagina{
    border: solid 1px black;
    border-top: none;
}

.imagen-principal{
    width: 500px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
}

.noticia{
    background-color: #ffffff;
    border-radius: 15px;
    border: solid 2px black;
    display: flex;
    text-align: center;
    margin:20px 100px;
}

.noticia-imagen{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding: auto 0;
}

.noticia img{
    width: 350px;
    height: auto;
    margin: 30px;
    border-radius: 10%;
}

/*Pie de pagina*/
footer{
    background-color: #232323;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.iconos-footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.logo-footer{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-footer img{
    height: 300px;
    width: auto;
    padding: 10px;
}

.iconos-footer a{
    padding: 1%;
    color: #cceaf4;
}

.iconos-footer a svg{
    height: 50px;
    width: auto;
    padding: 10px;
}

footer p{
    background-color: #ff3b3f;
    color: #EFEFEF;
    margin: 0;
    padding: 0;
}